<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.mapper.WarehouseInfoMapper">
  <resultMap id="BaseResultMap" type="com.tk.model.WarehouseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="w_id" jdbcType="SMALLINT" property="wId" />
    <result column="warehouse_sn" jdbcType="CHAR" property="warehouseSn" />
    <result column="warehoust_name" jdbcType="VARCHAR" property="warehoustName" />
    <result column="warehouse_phone" jdbcType="VARCHAR" property="warehousePhone" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="province" jdbcType="SMALLINT" property="province" />
    <result column="city" jdbcType="SMALLINT" property="city" />
    <result column="distrct" jdbcType="SMALLINT" property="distrct" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="warehouse_status" jdbcType="TINYINT" property="warehouseStatus" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    w_id, warehouse_sn, warehoust_name, warehouse_phone, contact, province, city, distrct, 
    address, warehouse_status, modified_time
  </sql>
</mapper>